{% extends 'base.html.twig' %}

{% block title %}Profile - {{ user.username }}{% endblock %}

{% block body %}
    <main class="main-center pb-4">
        <table class="max-w-3xl bg-gray-100 rounded-md block mx-auto p-4">
            <tbody class="block">
            <tr class="grid grid-cols-2 w-full gap-y-2">
                <td class="font-bold">Prénom :</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr class="grid grid-cols-2 w-full gap-y-2">
                <td class="font-bold">Email :</td>
                <td>{{ user.email }}</td>
            </tr>
            </tbody>
        </table>
    </main>
{% endblock %}
