{% extends 'base.html.twig' %}

{% block title %}Hello Admin&Controller!{% endblock %}

{% block body %}
    <main class="main-center">
        <div>
            <div>
                Nombre d'utilisateurs : {{ users|length }}
            </div>
            <div>
                Nombre de parties : {{ parties|length }}
            </div>
            <div>
                Nombre de parties null : {{ countNull }}
            </div>
            <a class="mx-auto block w-fit mt-4" href="{{ path('app_admin_user') }}">Gestion des utilisateurs</a>
        </div>
    </main>
{% endblock %}
