{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <main class="party">
        <div>
            {{ form(form) }}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }} text-center mt-4">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </main>
{% endblock %}
